.screen-reader-only {
  clip: rect(0, 0, 0, 0);
	position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border-width: 0;
  white-space: nowrap;
}

.container {
  width: 85%;
  max-width: 40rem;
  margin-right: auto;
  margin-left: auto;
}

.image-bg-shattered {
  background: linear-gradient(
    0deg,
    hsla(171, 57%, 61%, 0.6) -15%, hsla(153, 82%, 79%, 0.4) 80%),
    url('/assets/media/shattered-blue.jpg'
  );
}

.intro {
  margin-bottom: 2rem;
  padding-top: 2.2rem;
  padding-bottom: 6rem;
}

.intro-title {
  max-width: 32rem;
  font-weight: 700;
}

@media (prefers-color-scheme: dark) {
  .intro-title {
    color: var(--color-base);
  }
}
