:root {
  --color-background: hsl(195, 28.6%, 97.3%);
  --color-border: hsl(343, 6.4%, 21.4%);
  --color-border-alt: hsla(192, 76%, 80%, 0.4);
  --color-text-default: hsl(180, 2.7%, 7.3%);
  --color-base: hsl(195, 28.6%, 97.3%);
  --color-accent: hsl(192, 61.8%, 48.2%);
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: rgb(55, 53, 53);
    --color-border: rgb(226, 97, 0);
    --color-border-alt: hsla(193, 100%, 75%, 0.4);
    --color-text-default: hsl(196, 28.6%, 97.3%);
    --color-base: hsl(181, 2.7%, 7.3%);
    --color-accent: hsl(196, 28.6%, 97.3%);
  }
}
