www.{$DOMAIN:localhost} {
  redir https://{$DOMAIN:localhost}{uri}
}

{$DOMAIN:localhost} {
  root * dist
  reverse_proxy /cheers-receiver/* http://localhost:3293
  file_server
  try_files {path}.html {path}

  header {
    Strict-Transport-Security max-age=63072000; includeSubDomains; preload
    X-Content-Type-Options nosniff
    X-Frame-Options DENY
    Referrer-Policy no-referrer-when-downgrade
  }

  handle_errors {
    rewrite * /404.html
    file_server
  }
}
