www.selwyn.cc {
    redir https://selwyn.cc
}

selwyn.cc {
  tls talk@selwyn.cc

  redir www.selwyn.cc https://selwyn.cc

  ext .html
  mime .json application/json

  header / {
    -Server

    Cache-Control "max-age=604800" # Cache for 7 days
    Strict-Transport-Security "max-age=2592000" # Valid for 30 days
    X-Content-Type-Options "nosniff"
    X-Frame-Options "DENY"
    X-Xss-Protection "1; mode=block"
    Referrer-Policy "no-referrer-when-downgrade"
  }

  proxy /cheers-receiver cheers-receiver:3293
  ratelimit post /cheers-receiver 5 5 minute
  gzip {
    not /cheers-receiver
  }
}
