<link rel="stylesheet" href="/css/writings-overview.css">

<section class="section" id="writings-overview">
    <h2 class="section-title">Writings</h2>
    <a class="writings-overview-link" href="/writings/your-own-secure-linux-box">
        <figure class="writings-overview-container">
          <img
            src="/assets/media/your-own-secure-linux-box.gif"
            alt="animation of server surrounded by shield"
          >
          <figcaption class="writings-overview-caption">
              <h3 class="writings-overview-title">Your own secure Linux box</h3>
              <p class="writings-overview-description">
                  How to setup a secure Linux server from absolutely 0 to 1.
              </p>
          </figcaption>
        </figure>
    </a>
    <a class="writings-overview-link" href="/writings/docker-node-exit-codes">
        <figure class="writings-overview-container">
          <img
            src="/assets/media/docker-node-exit-codes.gif"
            alt="animation of Moby Dock, the Docker whale mascot carrying containers"
          >
          <figcaption class="writings-overview-caption">
              <h3 class="writings-overview-title">Docker, Node and exit codes</h3>
              <p class="writings-overview-description">
                  Running Node.js in a Docker container and handling exit signals.
              </p>
          </figcaption>
        </figure>
    </a>
</section>
