<link rel="stylesheet" href="/css/writings-overview.css">

<ul>
  <li class="writings-overview-item">
    <a class="anchor--bold anchor--block" href="/writings/docker-node-exit-codes">
      Docker, Node and exit codes
    </a>
    <time class="writings-overview-item-time">2017-12-23</time>
    <p>
      Running Node.js in a Docker container and handling exit signals.
    </p>
  </li>
  <li class="writings-overview-item">
    <a class="anchor--bold anchor--block" href="/writings/your-own-secure-linux-box">
      Your own secure Linux box
    </a>
    <time class="writings-overview-item-time">2017-07-25</time>
    <p>
      How to setup a secure Linux server from absolutely 0 to 1.
    </p>
  </li>
</ul>
