<!doctype html>

<html lang="en">

{{> ../partials/head/head }}

<body>
  <link rel="stylesheet" href="/css/writing.css">
  <nav class="writing-navigation image-bg-shattered">
    <div class="container">
      <a class="writing-navigation-item" href="/">Home</a>
    </div>
  </nav>

  <header class="writing-header">
    <h1 class="writing-title">{{ title }}</h1>
    <div class="writing-meta">
      <a
        class="writing-meta-feed anchor--bold anchor--block"
        rel="alternate"
        type="application/json"
        href="/feed.json"
      >
        RSS Feed
      </a>
      <span aria-hidden="true">\</span>
      <time>{{ date }}</time>
    </div>
  </header>


  <main class="writing-content container">

{{> writing-content }}

  </main>

  {{> ../partials/cheers/cheers }}

</body>

</html>
