<link rel="stylesheet" href="/css/footer.css">

<footer class="footer">
  <a href="https://html5.validator.nu/?doc=https%3A%2F%2Fselwyn.cc%2F">
    <img src="/assets/media/html5-valid-badge.svg" alt="HTML5 Valid">
  </a>
</footer>
