<link rel="stylesheet" href="/css/footer.css">

<footer class="footer">
  <a href="https://html5.validator.nu/?doc=https://selwyn.cc/">
    <img src="/assets/media/html5-valid-badge.svg" alt="HTML5 Valid" width="88" height="31">
  </a>
</footer>
