.hero-header {
    position: relative;
    min-height: 35em;
    margin: 0;
    padding: 12em 0.75rem 2em 0.75rem;
    background-color: var(--brand-light);
    background-image: url('/assets/media/shattered-blue-curved-contrast.jpg');
    text-align: left;
}

.hero-header > img {
    display: block;
    margin: 0 auto;
    padding: 2em 0;
}

.hero-header-introduction {
    display: block;
    max-width: 30em;
    padding: 0;
    color: var(--white);
}

.hero-header-tagline {
    margin: 0 0 0.5rem -0.1rem;
    padding: 0;
}

@media (--s-viewport) {
    .hero-header {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 5em;
    }
    .hero-header-introduction {
        position: relative;
        left: 1em;
    }
}

@media (--m-viewport) {
    .hero-header {
        flex-direction: row;
    }
    .hero-header > img {
        margin: 0 1em 0 auto;
    }
    .hero-header-introduction {
        position: static;
        left: 0;
        margin: 0 auto 0 1em;
    }
}
