<link rel="preload" href="/assets/media/shattered-blue-curved-contrast.jpg" as="image">
<link rel="stylesheet" href="/css/hero-header.css">

<header class="hero-header">
    <img src="/assets/media/logo.svg" alt="Selwyn.cc logo">
    <div class="hero-header-introduction">
        <b>Hi</b>
        <h1 class="hero-header-tagline">I'm Selwyn<br>Versteeg</h1>
        <b>from The Netherlands</b>
    </div>
</header>
