@import '../core/styles/variables.css';

.about {
    margin-bottom: 2.5em;
}

.about::after {
   display: block;
   visibility: hidden;
   height: 0;
   clear: both;
   content: "";
}

.about-title,
.about-description {
    margin-right: 0.75rem;
    margin-left: 0.75rem;
}

.about-description {
    max-width: 37.5em;
}

.about-more {
    padding: 0.4rem 0.7rem 0.6rem 0.7rem;
    border: 0.3rem solid var(--brand-default);
    font-size: 1.3em;
    text-decoration: none;
    vertical-align: middle;
    transition: border-color 0.4s ease;
}

.about-more:enter {
    border-color: var(--brand-highlight);
}

@media (--s-viewport) {
    .about-title {
        max-width: 15.829em;
    }

    .about-title,
    .about-description {
        margin-right: auto;
        margin-left: auto;
    }
}

@media (--m-viewport) {
    .about {
        max-width: 80rem;
        margin-right: auto;
        margin-left: auto;
        padding: 0 1.5rem;
    }
}

@media (--l-viewport) {
    .about-title,
    .about-description {
        max-width: 35em;
        margin-right: 0;
        margin-left: 0;
        padding-left: 0;
    }
}
