<link rel="stylesheet" href="/css/about.css">

<section id="about" class="about">
    <h2 class="about-title">About me</h2>
    <img
        srcset="/assets/media/portrait-500.jpg 500w, /assets/media/portrait-1000.jpg 1000w, /assets/media/portrait-2000.jpg 2000w"
        sizes="(max-width: 500px) 500px, (max-width: 1000px) 1000px, 2000px"
        src="/assets/media/portrait-500.jpg" class="about-portrait" alt="Portrait photo of Selwyn"
    >

    <div class="about-description">
        <p>My name is Selwyn Versteeg.
            <br><strong class="highlight">I'm passionate about creating solutions that help people around the world in a progressive way.</strong>
            <br>Coding is what I do best but I also love designing and prototyping. Quality is important, spending time on details and optimizing solutions is what I can't resist to do. I'm a perfectionist.</p>
            <p>Currently I'm studying <a href="http://www.cmd-amsterdam.nl/" target="_blank">Communication and Multimedia Design</a> at the HvA. At CMD I learn to work agile in a team and come up with creative solutions.<br>When I'm not busy with my study or coding. I like to jam a bit on my funky drumset, ride my bike or play video games.
        </p>
        <p>
            <a class="about-more" href="/me">More about me</a>
        </p>
    </div>
</section>
