@import 'styles/reset';
@import 'styles/variables';
@import 'styles/helpers';
@import 'styles/typography';

body {
  min-width: 24rem;
  background: var(--color-gray-100);
  color: var(--color-gray-1000);
  line-height: 1.6;
  font-family: sans-serif;
}

@media (prefers-color-scheme: dark) {
  body {
    background: var(--color-gray-800);
    color: var(--color-gray-100);
    line-height: 1.7;
    word-spacing: 0.02em;
  }
}

::selection {
  background: var(--color-blue-400);
  color: var(--color-gray-100);
}
