<!doctype html>

<html lang="en">

{{> ../partials/head/head }}

<body>

    <link rel="stylesheet" href="/css/404.css">

    <main class="error">
        <div class="error-body">
            <h1 class="error-title">404</h1>
            <h2>Could not find that page...</h2>
            <p>Please double check the URL or go back to the <a href="/">homepage</a>.</p>
        </div>
    </main>

</body>

</html>
