<!doctype html>

<html lang="en">

{{> ../partials/head/head }}

<body>

  <link rel="stylesheet" href="/css/404.css">

  <main class="error image-bg-shattered">
    <h1 class="error-title">404</h1>
    <h2>Could not find that page...</h2>
  </main>

</body>

</html>
