<!doctype html>

<html lang="en">

{{> ../partials/head/head }}

<body>
  <header class="intro image-bg-shattered">
    <div class="container">
      <h1 class="h2 intro-title">
        <span class="h4">Hi!</span>
        <br>I’m Selwyn,<br>web developer from The&nbsp;Netherlands.
      </h1>
    </div>
  </header>
  <main class="container">
    <section>
      <h2 class="screen-reader-only">Introduction</h2>
      <p>
        I work at
        <a class="anchor anchor--bold" href="https://voorhoede.nl/">De Voorhoede</a>,
        builder of fast and
        <a class="anchor anchor--bold" href="https://www.howfrontendworks.com/accessibility/">accessible</a>
        websites.
      </p>
      <p>
        You can find me on
        <a class="anchor anchor--bold" href="https://mastodon.social/@Siilwyn">Mastodon</a> and
        <a class="anchor anchor--bold" href="https://github.com/Siilwyn/">GitHub</a>
        or send me
        <a class="anchor anchor--bold" href="mailto:talk@selwyn.cc">electronic mail</a>.
      </p>
      <p>
        When not behind a screen I like to jam on my drumset or try flips on my longboard.
      </p>
    </section>

    <section>
      <h2>Writings</h2>

      {{> ../partials/writings-overview/writings-overview }}

    </section>

    {{> ../partials/footer/footer }}

  </main>
</body>

</html>
