.about-me-container {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    padding: 0 0.75em;
    background: var(--white);
}

.about-column {
    width: 100%;
    max-width: 37.5rem;
    margin-bottom: 1em;
}

.about-photo {
    max-height: 27em;
    margin-bottom: 1.3em;
}

.about-capabilities {
    display: flex;
    flex-wrap: wrap;
}

.about-capabilities > li:not(:last-child)::after {
    content: ',\00a0';
}

.about-capabilities > li:last-child::after {
    content: '.'
}

.about-video {
    margin: 1.3em auto;
}
