<!doctype html>

<html lang="en">

{{> ../partials/head/head }}

<body>

    {{> ../partials/nav-header/nav-header }}

    {{> ../partials/header/header }}

    <link rel="stylesheet" href="/css/me.css">

    <main class="about-me-container slanted slanted-top">
        <div class="about-column">
            <section>
                <h1 class="highlight">About me</h1>
                <h2>I've been up to</h2>
                <p>Late 2015 I started working at <a href="https://voorhoede.nl/" target="_blank">De Voorhoede</a> for <a href="http://bookerzzz.com/" target="_blank">BookerZzz</a> and their own products. I investigated and applied technologies such as HTTP/2 to improve existing work and tooling.</p>
                <p>In the second quarter of 2015 I started my internship at <a href="https://voorhoede.nl/" target="_blank">De Voorhoede</a> as a frontend developer. De Voorhoede specializes in component based frontend architectures. During my internship I worked for Bank Mendes Gans. Were I created demonstration pages and documentation for internal use. And after that for BookerZzz with a team creating a booking checkout flow from scratch. This was the company's first step away from a big PHP monolith. This involved a complete rewrite of both fronts. Both experiences taught me a lot about best practices in the field.</p>
                <img
                    srcset="/assets/media/me-at-cmd-400.jpg 400w, /assets/media/me-at-cmd-900.jpg 900w"
                    sizes="(max-width: 500px) 400px, 900px"
                    src="/assets/media/me-at-cmd-400.jpg" class="about-photo" alt="Me at CMD">
                <p>Beginning 2015 I joined the <a href="https://mediafutureweek.nl" target="_blank">Media Future Week</a>. A week full of inspiring keynotes combined with a challenge. With a team of ten people we got a mission to solve in five days. Our mission: create a better interactive experience for visitors of the 'Beeld en Geluid' museum. After brainstorming, creating storyboards and a lot of feedback we finalized our idea. At the end of the week we pitched our idea, with lots of positive feedback as a result.</p>
                <p>In 2013 I started to study <a href="https://cmd-amsterdam.nl/">Communication and Multimedia Design</a> at the University of Applied Sciences Amsterdam. During this study I discovered all facets of digital. From interaction design to content management.</p>
                <img class="about-photo" src="/assets/media/mfw.jpg" alt="Me at the MFW">
                <p>Before all this, I was learning HTML5 &amp; CSS3 myself while in high school. The endless possibilities of the web made me dream and sparked me to build a better web.</p>
            </section>

            <section>
                <h2>Stuff I understand</h2>
                <h3>Development</h3>
                <ul class="about-capabilities">
                    <li>HTML5</li>
                    <li>CSS3</li>
                    <li>JS</li>
                    <li>Node.js</li>
                    <li>Rust</li>
                    <li>Git</li>
                    <li>Linux</li>
                    <li>Ubuntu</li>
                </ul>
                <h3>Design</h3>
                <ul class="about-capabilities">
                    <li>Vector design</li>
                    <li>Wireframing</li>
                    <li>Prototyping</li>
                    <li>Photo editing</li>
                </ul>
                <h3>Other</h3>
                <ul class="about-capabilities">
                    <li>Agile</li>
                    <li>Scrum</li>
                    <li>Brainstorming</li>
                </ul>
            </section>

            <video class="about-video" src="/assets/media/me-spin.mp4" autoplay loop></video>
        </div>
    </main>

</body>

</html>
