.writing-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-right: 1.25rem;
  padding-left: 1.25rem;
}

.writing-navigation {
  width: 100%;
  margin-bottom: 4rem;
  padding: 1rem;
  font-weight: 600;
}

@media (prefers-color-scheme: dark) {
  .writing-navigation {
    color: var(--color-base);
  }
}

.writing-navigation-item {
  padding-bottom: 0.2rem;
  background: none;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  .writing-navigation-item {
    color: var(--color-base);
  }
}

.writing-navigation-item::before {
  margin-right: 0.4rem;
  content: "//";
  text-decoration: none;
}

.writing-title {
  font-style: normal;
  font-weight: 400;
  font-size: 3rem;
  font-family: 'Elrotex';
}

.writing-meta {
  display: inline;
  margin-bottom: 2rem;
  color: var(--color-text-default);
  font-family: monospace;
}

.writing-meta-feed {
  margin-right: 0.6rem;
}

.writing-content {
  margin-bottom: 6rem;
  font-size: 1.1rem;
}

.writing-content pre {
  display: block;
  margin-bottom: 1em;
  padding: 0.75em 1em;
  background: var(--color-text-default);
  color: var(--color-base);
}

@media (prefers-color-scheme: dark) {
  .writing-content pre {
    background: var(--color-base);
    color: var(--color-text-default);
  }
}

.writing-content > p > code {
  color: var(--color-accent);
}

@media (prefers-color-scheme: dark) {
  .writing-content > p > code {
    color: var(--color-border);
  }
}

.writing-content table {
  margin-bottom: 1em;
}

@font-face {
  font-style: normal;
  font-weight: 400;
  src: url('/assets/fonts/elrotex-regular-latin.woff2') format('woff2');
  font-family: 'Elrotex';
}
