@import '../partials/core/styles/variables.css';

.writing-content {
    max-width: 40em;
    margin-right: auto;
    margin-bottom: 6rem;
    margin-left: auto;
    padding: 0 1rem;
}

.writing-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.25rem 0;
}

.writing-title {
    font-family: 'Elrotex';
    font-size: 4em;
    line-height: 2em;
}

.writing-date {
    color: var(--brand-default);
    font-family: monospace;
    font-size: 1.2em;
}

.writing-content p {
    font-size: 1.3em;
}

.writing-content > p > code {
    padding: 0 0.01em;
    background-color: #fff;
}

.writing-content pre {
    display: block;
    margin-bottom: 1em;
    padding: 0.75em 1em;
    background: var(--black);
    color: var(--white);
}

.writing-content table {
    margin-bottom: 1em;
}

@font-face {
    src: url('/assets/fonts/elrotex.woff2') format('woff2'),
         url('/assets/fonts/elrotex.ttf') format('truetype'),
         url('/assets/fonts/elrotex.svg') format('svg');
    font-family: 'Elrotex';
    font-style: normal;
    font-weight: normal;
}
