.cheers {
  display: block;
  position: relative;
  margin-bottom: 4rem;
}

.cheers-form {
  display: flex;
  align-items: center;
  justify-content: center;
}

.cheers-info {
  margin-bottom: 0;
  padding-bottom: 0;
  font-variant: all-small-caps;
  font-size: 1.5em;
}

.cheers-info-count {
  display: none;
}

.cheers-count {
  font-weight: bold;
}

.cheers-button {
  width: 5rem;
  height: 5rem;
  margin-right: 1rem;
  margin-left: 1rem;
  border: 0.4rem solid var(--color-blue-400);
  border-radius: 100%;
  font-size: 0.8rem;
  cursor: pointer;
  transition: transform 300ms ease-out;
  will-change: transform;
}

.cheers-info-count.active {
  display: initial;
}

.cheers-button:hover,
.cheers-button:focus {
  transform: rotate(25deg);
  outline: none;
}

.cheers-button:active, .cheers-button.active {
  transform: rotate(30deg);
  border-width: 0.75rem;
}

.cheers-button::after {
  display: none;
  position: absolute;
  left: -2rem;
  padding: 1rem;
  border-radius: 50%;
  background: var(--color-blue-400);
  content: "+1";
  color: var(--color-gray-100);
  font-size: 1.4rem;
  opacity: 0;
}

.cheers-button.active::after {
  display: initial;
  animation-duration: 1.6s;
  animation-name: pop-out;
}

@keyframes pop-out {
  0% {
    top: 0;
  }

  40% {
    top: -4rem;
    opacity: 1;
  }

  50% {
    opacity: 1;
  }

  100% {
    top: -8rem;
    opacity: 0;
  }
}

.count-send {
  display: none;
}

.count-send:target {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: var(--color-gray-100);
  font-style: italic;
  font-size: 1.75em;
}

@media (prefers-color-scheme: dark) {
  .count-send:target {
    background-color: var(--color-gray-800);
  }
}
