.cheers {
  display: block;
  position: relative;
  margin-bottom: 4rem;
}

.cheers-form {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Century Gothic', sans-serif;
}

.cheers-info {
  padding-bottom: 0;
  font-size: 1.5em;
  font-variant: all-small-caps;
}

.cheers-info-count {
  display: none;
}

.cheers-count {
  font-weight: bold;
}

.cheers-button {
  width: 5rem;
  height: 5rem;
  margin-right: 1rem;
  margin-left: 1rem;
  border: 0.4rem solid var(--color-accent);
  border-radius: 100%;
  background-color: var(--color-background);
  color: var(--white);
  font-size: 0.8em;
  cursor: pointer;
  transition: transform 500ms ease;
  will-change: transform;
}

.cheers-info-count.active {
  display: initial;
}

.cheers-button:hover,
.cheers-button:focus {
  transform: rotate(25deg);
  border-width: 0.5rem;
  outline: none;
}

.cheers-button:active, .cheers-button.active {
  transform: rotate(30deg);
  border-width: 0.75rem;
  border-color: var(--color-border);
}

.cheers-button::after {
  display: none;
  position: absolute;
  left: -2rem;
  padding: 1rem;
  border-radius: 50%;
  background: var(--color-border);
  content: "+1";
  opacity: 0;
}

.cheers-button.active::after {
  display: initial;
  animation-name: pop-out;
  animation-duration: 2s;
}

@keyframes pop-out {
  0% {
    top: 0;
  }

  40% {
    top: -4rem;
    opacity: 1;
  }

  50% {
    opacity: 1;
  }

  100% {
    top: -8rem;
    opacity: 0;
  }
}

.count-send {
  display: none;
  background-color: red;
  transition: background-color 2s;
}

.count-send:target {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: var(--color-base);
  font-size: 1.75em;
  font-style: italic;
}
