<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <meta name="author" content="Selwyn Versteeg">
    <meta name="description" content="Portfolio website of Selwyn Versteeg, web developer, solving problems by crafting digital solutions that focus on the user.">
    <meta name="theme-color" content="#1f7b8d">
    <link rel="icon" href="/assets/media/favicon.png">
    <link rel="stylesheet" href="/css/core.css">
    <title>Selwyn.cc - Creative Crafts</title>
</head>
